<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div class="box">
            <div class="form">
            <form action="" method="POST">
                {% csrf_token %}
            <h2>Sig in</h2>
            <div class="inputbox">
                <input type="text"  required  name="username">
                <span>Username</span>
                <i></i>

            </div>

          
            <div class="inputbox">
                <input type="password" required  name="password">
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="{% url 'a' %}">Singup</a>
            </div>
            <input type="submit" value="Login">
        </div>
    </div>
</body>
</html>